/* Sidebar Styles */
.sidebar {
    transition: width 0.3s;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100%;
        left: -100%; /* Hidden off-screen */
        transition: left 0.3s ease;
    }

    .sidebar.active {
        left: 0; /* Show sidebar */
    }
}

/* Add a toggle button for small screens */
.toggle-sidebar {
    display: none; /* Hide by default */
}

@media (max-width: 768px) {
    .toggle-sidebar {
        display: block; /* Show on small screens */
        position: fixed;
        top: 20px;
        left: 20px;
        background-color: #375748;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        z-index: 2000;
    }
}

