{% load static %}
{% load humanize %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name = 'viewport' content = 'width=device-width, initial-scale = 1'/>
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'robots' content = 'index, follow'>

        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        
        <!-- TailwindCSS Compilation -->
        <link rel="stylesheet" href="{% static 'src/npx tailwindcss -i ./static/src/input.css -o ./static/src/output.cssoutput.css' %}">
        <link rel="stylesheet" href="{% static 'src/styles.css' %}">
        <link rel="stylesheet" href="{% static 'style2.css' %}">
        
        <title> {{ title }}</title>
    </head>


    <body class='bg-gray-300 max-h-screen'>
        <div class='flex'>
            <!-- Toggle Sidebar Button for mobile -->
            <button class="toggle-sidebar">Toggle Sidebar</button>

            <!-- Sidebar -->
            <div class='sidebar bg-green-800 h-[110%] p-4 md:flex flex-col items-center text-gray-100'>
                <a href="{% url 'calculator'%}"><div class='mt-16 md:8 mb-16 flex'>
                    <img width="30" height="30" src="https://img.icons8.com/external-smashingstocks-thin-outline-smashing-stocks/67/external-Calculator-engineering-smashingstocks-thin-outline-smashing-stocks.png" alt="calculator" />
                    <p class='pl-4'>Calculator</p>
                </div></a>
                <a href="{% url 'currency_converter'%}"><div class='mb-16 flex'>
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/euro-exchange.png" alt="euro-exchange" />
                    <p class='pl-4'> CurrencyX </p>
                </div></a>
                <a href="{%url 'calculate_bmi'%}"><div class='mb-16 flex'>
                    <img width="30" height="30" src="https://img.icons8.com/color/48/bmi.png" alt="bmi" />
                    <p class='pl-4'> BMI Calc </p>
                </div></a>
                <div class='mb-16 flex'>
                    <img width="30" height="30" src="https://img.icons8.com/cotton/64/conversion-currencies.png" alt="conversion-currencies" />
                    <p class='pl-4'> QuickConvert </p>
                </div>
                <a href='http://pythogenius.pythonanywhere.com/weather'><div class='mb-16 flex'>
                    <img width="30" height="30" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/external-Weather-android-app-flatart-icons-outline-flatarticons.png" alt="external-Weather-android-app-flatart-icons-outline-flatarticons"/>
                    <p class='pl-4'> WeatherNow </p>
                </div></a>
            </div>

            <!-- Main Content -->
            <div class="flex-grow min-h-screen max-h-screen flex items-center justify-center mt-8 md:mt-2 px-4">
                <div class=" w-md max-w-md rounded-3xl shadow-lg text-gray-200">
                    <div class='flex justify-between h-[5%] w-[96%] p-2 m-2'>
                        <h1 class='bg-clip-text text-transparent bg-gradient-to-r from-red-400 via-blue-500 to-purple-60 font-bold'>AfreXMatics Calculator</h1>
                        <h1> {% now 'H:i A'%} </h1>
                    </div>

                    <div class='w-full p-2 m-2'>
                        <form method='POST'>
                            {% csrf_token %}
                            <input type="hidden" name="operation" id="operation" />
                            <div class='-ml-2 mr-2 text-right'>
                                {{ form.numbers|add_class:'w-full rounded-md py-6 px-6 outline-none transition-all duration-300 text-right text-gray-800 bg-gray-200 shadow-sm' }}
                                {% if result %}
                                    <div class='w-full rounded-md py-4 px-6 -mt-4 outline-none transition-all duration-300 text-gray-800 bg-gray-200 shadow-sm overflow-y-auto'>
                                        {{ result|intcomma}}
                                    </div>
                                {% endif %}
                            </div>

                            {% if error %}
                            <div class='text-center mt-2 p-2'></div>
                                <h3 class='text-red-500 mr-2'>{{ error }}</h3>    
                            </div>
                            {% endif %}

                            <div class="text-xs text-right space-y-1 p-2 text-green-800 mb-2">
                                <div class="flex">
                                    <h6 class="mb-1 w-80 text-left">Enter numbers (space-separated).</h6>
                                </div>
                                <div class="flex">
                                    <h6 class="mb-1 w-80 text-left">E.g 1 2 3 for multiple numbers or 5 for a single input.</h6>
                                </div>
                                <div class="flex">
                                    <h6 class="w-80 text-left">Enter a value, follow step 1: select an operation, then press '=' to calculate.</h6>
                                </div>
                            </div>
                            <div class='flex justify-center mb-2'>
                                <div class="w-20 h-16 flex items-center justify-center mr-8 bg-green-50 hover:bg-green-100 rounded-full transition-transform transform hover:scale-105 shadow-lg cursor-pointer">
                                    <h2 onclick="insertSpace()" class="text-md font-bold text-green-800">Space</h2>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="grid grid-cols-6 gap-4 text-center text-base font-semibold text-green-800 mr-4 mb-4">
                                    <button type="button" onclick="setOperation('factorial')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> n! </button>
                                    <button type="button" onclick="setOperation('modulus')"  class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> ∣x∣ </button>
                                    <button type="button" onclick="setOperation('diff')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> diff </button>
                                    <button type="button" onclick="setOperation('int')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> int </button>
                                    <button type="button" onclick="setOperation('CI')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> C.I </button>
                                    <button type="button" onclick="setOperation('SI')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> S.I </button>
                                </div>
                                <div class="grid grid-cols-6 gap-4 text-center text-base font-semibold text-green-800 mr-4 mb-4">
                                    <button type="button" onclick="setOperation('square')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> x<sup>2</sup> </button>
                                    <button type="button" onclick="setOperation('sqrt')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> √x </button>
                                    <button type="button" onclick="setOperation('root')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> <sup>n</sup>&#8730;x </button>
                                    <button type="button" onclick="setOperation('exp')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> x<sup>y</sup> </button>
                                    <button type="button" onclick="setOperation('log')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> log₁₀ </button>
                                    <button type="button" onclick="setOperation('log_base')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> ln </button>
                                </div>
                                <div class="grid grid-cols-6 gap-4 text-center text-base font-semibold text-green-800 mr-4 mb-4">
                                    <button type="button" onclick="setOperation('hypotenuse')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> hyp </button>
                                    <button type="button" onclick="setOperation('adjacent')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> adj </button>
                                    <button type="button" onclick="setOperation('opposite')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> opp </button>
                                    <button type="button" onclick="setOperation('sin')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> sin </button>
                                    <button type="button" onclick="setOperation('cos')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> cos </button>
                                    <button type="button" onclick="setOperation('tan')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> tan </button>
                                </div>
                                <div class="grid grid-cols-6 gap-2 md:gap-4 text-center text-base font-semibold text-green-800 mr-4 mb-4">
                                    <button type="button" onclick="setOperation('sinh')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> sinh </button>
                                    <button type="button" onclick="setOperation('cosh')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> cosh </button>
                                    <button type="button" onclick="setOperation('tanh')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> tanh </button>
                                    <button type="button" onclick="setOperation('arcsin')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> arcsin </button>
                                    <button type="button" onclick="setOperation('arccos')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2  transition-transform transform hover:scale-105 shadow-lg"> arccos </button>
                                    <button type="button" onclick="setOperation('arctan')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2  transition-transform transform hover:scale-105 shadow-lg"> arctan </button>
                                </div>
                                <div class="grid grid-cols-5 gap-4 text-center text-base font-semibold text-green-800 mr-4 mb-4">
                                    <button type="button" onclick="appendNumber(7)" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> 7 </button>
                                    <button type="button" onclick="appendNumber(8)" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> 8 </button>
                                    <button type="button" onclick="appendNumber(9)" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> 9 </button>
                                    <button type="button" onclick="backspaceDelete()" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> DEL </button>
                                    <button type="button" onclick="clearField()" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> AC </button>
                                </div>
                                <div class="grid grid-cols-5 gap-4 text-center text-base font-semibold text-green-800 mr-4 mb-4">
                                    <button type="button" onclick="appendNumber(4)" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> 4 </button>
                                    <button type="button" onclick="appendNumber(5)" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> 5 </button>
                                    <button type="button" onclick="appendNumber(6)" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> 6 </button>
                                    <button type="button" onclick="setOperation('multiply')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> X </button>
                                    <button type="button" onclick="setOperation('divide')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> ÷ </button>
                                </div>
                                <div class="grid grid-cols-5 gap-4 text-center text-base font-semibold text-green-800 mr-4 mb-4">
                                    <button type="button" onclick="appendNumber(1)" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> 1 </button>
                                    <button type="button" onclick="appendNumber(2)" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> 2 </button>
                                    <button type="button" onclick="appendNumber(3)" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> 3 </button>
                                    <button type="button" onclick="setOperation('add')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> + </button>
                                    <button type="button" onclick="setOperation('subtract')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> - </button>
                                </div>
                                <div class="grid grid-cols-5 gap-4 text-center text-base font-semibold text-green-800 mr-4 mb-2">
                                    <button type="button" onclick="appendNumber(0)" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> 0 </button>
                                    <button type="button" onclick="appendNumber('.')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> . </button>
                                    <button type="button" onclick="setOperation('expo')" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> EXP </button>
                                    <button type="button" class="bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> ANS </button>
                                    <button type="submit" class="submit-btn bg-green-50 hover:bg-green-100 rounded-lg py-2 transition-transform transform hover:scale-105 shadow-lg"> = </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--This is for the sidebar-->
            <script>
                // Toggle Sidebar
                const toggleSidebar = document.querySelector('.toggle-sidebar');
                const sidebar = document.querySelector('.sidebar');

                toggleSidebar.addEventListener('click', () => {
                    sidebar.classList.toggle('active');
                });
            </script>

            <!--This is for the number pad feature-->
            <script>
                // Function to append clicked numbers to the numbers Field
                function appendNumber(num) {
                    const numbersField = document.getElementById('numbers');
                    numbersField.value += num;
                }
                // Function to delete the last character in the field
                function backspaceDelete() {
                    const numbersField = document.getElementById('numbers');
                    numbersField.value = numbersField.value.slice(0, -1); // Remove the last character
                }
                // Function to clear everything in the field
                function clearField() {
                    const numbersField = document.getElementById('numbers');
                    numbersField.value = ''; // Clear the field
                }
                // Function to insert a space into the field
                function insertSpace() {
                    const numbersField = document.getElementById('numbers');
                    numbersField.value += ' '; // Add a space
                }
                function setOperation(operation) {
                    // Set the operation value when a button is clicked
                    document.getElementById('operation').value = operation;
                }
            </script>
    </body>
</html>